*{
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: 'Tw Cen MT', sans-serif, calibri;
}
/* Menu */
ul{
	list-style-type: nome;
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 0.6%;
	padding-top: 1%;
	border-bottom: 1px outset;
} 
li{
	font-weight: bold;
}
li a{
	display: block;
	color: #666666;
	text-align: center;
	font-size: 1.8vw;
	padding: 30px 40px;
	text-decoration: none;
}
li a:hover{
	color: #34C0D3;
}
ul img{
	max-height: 75px;
	padding: 0.5% 3%;
}
/* Texto Inicial */
section .texto-inicial{
	background-color: #fafafa;
	color: #4d4d4d;
	text-align: justify;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 3%;
	display: flex;
	padding-left: 30%;
}
.texto-inicial h1{
	font-weight: bold;
	font-size: 3vw;
	text-transform: uppercase;
	letter-spacing: 0.3vw;
}
.texto-inicial img{
	max-width: 26%;
	float: left;
	margin: 1%;
}
.button-inicial{
	background-color: #f7bbca;
	color: white;
	text-transform: uppercase;
	border: none;
	outline: none;
	border-radius: 2%;
	width: 20%;
	font-size: 1.5vw;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0.8%;
	margin-top: 2%;
}
.button-inicial:hover{
	background-color: #34C0D3;
}
/* Galeria */
.galeria{
	padding: .5vw;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
	display: -webkit-box;
	display: flex;
}
.galeria-item{
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto; 
	width: 200px; 
	margin: .5vw; 
}
.galeria-imagem {
	width: 100%; 
	height: auto; 
}
/* Sobre */
.sobre{
	width: 100%;
	padding: 2% 5% 3% 5%;
	background-color: #fafafa;
}
.sobre h1{
	font-size: 2.2vw;
	text-transform: uppercase;
	letter-spacing: 0.3vw;
	padding-bottom: 1%;
	color: #f7bbca;
}
.sobre p{
	text-indent: 2vw;
	padding-left: 2%;
	padding-right: 10%;
	line-height: 1.6;
	font-size: 1.8vw;
	margin: 1%;
	color: #666666;
	text-align: justify;
}
video{
	float: left;
}
/* Footer */
footer{
	padding: 2%;
	text-align: center;
	background-color: #bdbdbd;
	font-weight: bold;
	color: white;
	font-size: 1.5vw;
}
footer a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
footer a:hover{
	color: #333333;
}

/* Breakpoints */

@media screen and (max-width: 400px) {
	.galeria-item { margin: 0; }
	.galeria { padding: 0; }
	section .texto-inicial { padding-top: 25%; }
}
@media screen and (max-width: 1200px){
	section .texto-inicial { padding-top: 12%; }
}
@media screen and (max-width: 1000px) {
	section .texto-inicial { padding-top: 15%; padding-left: 27%; }
	.texto-inicial h1 { font-size: 4vw; }
	li a { font-size: 2.5vw; }
	.sobre h1 { font-size: 3vw; }
	.sobre p { font-size: 2.5vw; clear: both; }
	.button-inicial { font-size: 1.8vw; }
	video { width: 90%; }
	footer { font-size: 1.7vw; }
}
@media screen and (max-width: 900px) {
	section .texto-inicial { padding-left: 25%; }
	footer { font-size: 2.3vw; }
}
@media screen and (max-width: 700px) {
	section .texto-inicial { padding-top: 18%; }
	.sobre h1 { font-size: 3.3vw;}
	.sobre p { font-size: 3vw; }
	.button-inicial { font-size: 2.5vw; }
	li a { font-size: 3.5vw; }
}
@media screen and (max-width: 600px) {
	section .texto-inicial { padding-top: 22%; }
	footer { font-size: 3vw; }
	.sobre h1 { font-size: 3.7vw; }
	.sobre p { font-size: 3.8vw; }
	ul img { padding: 0.5% 1%; }
	li a { font-size: 4vw; padding: 30px 30px;}
}