*{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
ul{
	list-style-type:nome;
	overflow: hidden;
	background-color: #f9ffff;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 2px double #f9ffff;
}
li{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
li a{
	display: block;
	color: #737373;
	text-align: center;
	padding: 30px 15px;
	text-decoration: none;
}
li a:hover{
	color: #34C0D3;
}
ul img{
	max-height: 75px;
	padding: 0.5% 3%;
}
.galeria{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
figure {
	margin: 0;
	overflow: hidden;
	margin-bottom: 20px;
}
.galeria-imagem {
	max-width:100%;
	height: auto;
	display: block;
	transition: transform .2s ease-in-out;
}
.galeria-imagem:hover {
	transform: scale(1.15);
}